[Unit]
Description=Xanathar Container
After=docker.service
Requires=docker.service
 
[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull gryphonzone/jenkins:latest
ExecStart=/usr/bin/docker run --name %n -u root --rm -p 8080:8080 -p 50000:50000 -v jenkins-data:/var/jenkins_home -v /var/run/docker.sock:/var/run/docker.sock gryphonzone/jenkins:latest
 
[Install]
WantedBy=multi-user.target

